### 0.1 Importing Libraries

In [13]:
# Import libraries
import pandas as pd
import numpy as np
import os

### 0.2 Importing Data

In [14]:
# Identify the file pathway to data files
path = r'C:\Users\CJ\Documents\_CJ-Stuff\Career Foundry\Data Immersion\Ach 4 - Python\2023-03 Instacart Basket Analysis'

In [15]:
# create a list of variable names needed from orders.csv
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [16]:
# Import data from departments.csv, products.csv, orders

In [17]:
df_dep_original = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col=False)

In [18]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [19]:
df_orders = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list)

### 0.3 Data wrangling done DURING the exercise walk-thru

In [20]:
# Rename order_dow to clearly reference days of the week
df_orders.rename(columns = {'order_dow' : 'order_day_of_week'}, inplace = True)

In [21]:
# Change the dataype of the order_id to be a string
df_orders['order_id'] = df_orders['order_id'].astype('str')

In [22]:
# Transpose the df_dept to be long instead of wide
df_dept_need_header = df_dep_original.T

In [23]:
# Reset the index
df_dept_need_header.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [24]:
# Pull the header info from the first row
new_header = df_dept_need_header.iloc[0]

In [25]:
# Create a new df without the old first row
df_dept = df_dept_need_header[1:]

In [26]:
# Replace the default column names with the correct headers
df_dept.columns = new_header

In [27]:
# Create a data dictionary
dept_data_dict = df_dept.to_dict('index')

In [28]:
# Create a subset df with only snacks
df_snacks =  df_prods[df_prods['department_id']==19]

In [29]:
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

### 0.4 Data Wrangling done independantly AFTER the exercise

#### STEP 2

In [30]:
# STEP 2 - Change the dataype of the user_id to be a string
df_orders['user_id'] = df_orders['user_id'].astype('str')

In [31]:
df_orders['user_id'].dtypes

dtype('O')

#### STEP 3

In [32]:
# STEP 3 - Rename a variable to make it more clear but NOT permanently overwrite the df
# NOTE: I got the idea for which column to rename from another student because 
#       I thought most of the variable names were already pretty clear.
df_orders.rename(columns = {'orders_day_of_week' : 'order_day_of_week'})

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

#### STEP 4

In [33]:
# STEP 4 - Find the frequency for the busiest hour of the day
df_orders['order_hour_of_day'].value_counts()

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

STEP 4 - The busiest hour of the day is 10 a.m.

#### STEP 5

In [34]:
# STEP 5 - Find the dept. name that corresponds to department_id = 4
print(dept_data_dict.get('4'))

{'department': 'produce'}

STEP 5 - Department 4 is produce.

#### STEP 6

In [35]:
# STEP 6 - Create a subset of df_products to have only breakfast items
df_bfast =  df_prods[df_prods['department_id']==14]

In [36]:
df_bfast

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6
...,...,...,...,...,...
49330,49326,Cereal Variety Fun Pack,121,14,9.1
49395,49391,Light and Fluffy Buttermilk Pancake Mix,130,14,2.0
49547,49543,Chocolate Cheerios Cereal,121,14,10.8
49637,49633,Shake 'N Pour Buttermilk Pancake Mix,130,14,14.2
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2

#### STEP 7

In [37]:
# STEP 7 - Find all products from alcohol(5), deli(20), beverages(7), and meat/seafood (12).
df_dinner_party = df_prods.loc[df_prods['department_id'].isin([5,7,12,20])]

#### STEP 8

In [38]:
# STEP 8 - How many rows does the last dataframe have?
df_dinner_party.shape

(7650, 5)

#### STEP 9

In [39]:
# Pull all observations involving user_id = 1
df_user_1 = df_orders.loc[df_orders['user_id']=='1']

In [40]:
df_user_1

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

#### STEP 10

In [41]:
# Basic stats on user_id=1
df_user_1.describe()

,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,11.000000,11.000000,11.000000,10.000000
mean,6.000000,2.636364,10.090909,19.000000
std,3.316625,1.286291,3.477198,9.030811
min,1.000000,1.000000,7.000000,0.000000
25%,3.500000,1.500000,7.500000,14.250000
50%,6.000000,3.000000,8.000000,19.500000
75%,8.500000,4.000000,13.000000,26.250000
max,11.000000,4.000000,16.000000,30.000000

STEP 10 - User 1 has placed 11 orders.  They place their orders between Sunday and Wednesday, between 7 a.m. and 4 p.m.   They usually place orders roughly 2, 3 or 4 weeks apart, but once they did place two orders on one day.

#### STEP 12

In [42]:
df_orders.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [43]:
# Export df_orders
df_orders.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'), index = False)

#### STEP 13

In [44]:
# Export df_dept
df_dept.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'), index = False)

In [45]:
# Export df_dept as department_data
df_dept.to_csv(os.path.join(path, '02 Data','Prepared Data', 'department_data.csv'))